<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jing.app.hey"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />
	<uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission 
        android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission 
        android:name="android.permission.INTERNET"/>
    <uses-permission 
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_2"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        
        <activity
            android:name="jing.app.hey.HeyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="jing.app.hey.BucketDetailActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="jing.app.hey.SettingsActivity"
            android:screenOrientation="portrait" />
        
        <service android:name="jing.app.hey.service.SocketService" />
        
        <receiver
            android:name=".service.HeyBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <provider
            android:name=".provider.HeyProvider"
            android:authorities="jing.app.hey.provider"
            android:label="@string/app_name" />
        
    </application>

</manifest>